@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: black;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background: #160053;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  background: #fff;
  width: 90%;
  max-width: 800px;
  display: flex;
  padding: 2px;
  border-radius: 4px;
}

#select {
  background: #160053;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 300px;
  padding: 25px 20px;
  cursor: pointer;
}

h1 {
  color: #000;
  text-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
  0px 2px 4px rgba(0,255,255,0.5), 
  0px 4px 8px rgba(0,255,255,0.5), 
  0px 8px 16px rgba(0,255,255,0.5);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginpage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  color: none;
  margin-right: 200px;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input, .option_button{
  border: none;
  outline: none;
  color: #fff;
  background: #0f0f0f;
  font-size: 15px;
  box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
              0px 2px 4px rgba(0,255,255,0.5), 
              0px 4px 8px rgba(0,255,255,0.5), 
              0px 8px 16px rgba(0,255,255,0.5);
}

.btn, .button, #search-dropdown {
  border: none;
  outline: none;
  background: #0f0f0f;
  font-size: 15px;
  box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
              0px 2px 4px rgba(0,255,255,0.5), 
              0px 4px 8px rgba(0,255,255,0.5), 
              0px 8px 16px rgba(0,255,255,0.5);
}

input:focus {
  background: #0f0f0f;
  font-size: 15px;
  color: rgb(128, 128, 128);
}

.card {
  max-width: 100%;
  width: 200px;
  border: none;
  outline: none;
  color: #fff;
  margin-top: 0;
  margin: 0;
  padding:0;
  background: #0f0f0f;
  font-size: 15px;
  box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
              0px 2px 4px rgba(0,255,255,0.5), 
              0px 4px 8px rgba(0,255,255,0.5), 
              0px 8px 16px rgba(0,255,255,0.5);
  border-radius: 5px;
} 

.spotify_logo {
  display: flex;
  flex-direction: column;
  width:400px;
}

.button_signin {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-weight: bold;
}

.loginpage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.line {
  width: 100%;
  font-weight: 4px;
  border: 1px solid black;
  /* color: #000; */
  background-color: #000;
  outline: 1px solid black;
  margin-top: none;
  box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
  0px 2px 4px rgba(0,255,255,0.5), 
  0px 4px 8px rgba(0,255,255,0.5), 
  0px 8px 16px rgba(0,255,255,0.5);
}

.results {
  color: #000;
  text-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
  0px 2px 4px rgba(0,255,255,0.5), 
  0px 4px 8px rgba(0,255,255,0.5), 
  0px 8px 16px rgba(0,255,255,0.5);
}


